
<div class ="session-grid2">
  <!-- LEFT SIDE -->
  <div>
    <% if params[:coder] == 'true' %>
      <div>
        <p> Why Join code for change?</p>
        <p>Code for Change was made by developers, for developers. Whether you’re a new developer looking to harness your skills, or a professional developer looking to engage in a philanthropic pursuit, Code for Change accommodates to all. </p>
      </div>
      <div>
        <p> For New developers:</p>
        <p>Mastering a new skill can be hard, but with enough practise and persistence there is a lot you can achieve. When applying for web development jobs your portfolio is the best point of reference for future employers to see what you can produce. However, as a new developer, it is often difficult to find opportunities to produce practical products. Code For Change solves this by providing developers with an opportunity to harness their skills and build a portfolio all while making a significant difference.  </p>
      </div>
      <div>
        <p> For Professional developers:</p>
        <p>While donating to charity is a great way to engage in philanthropy, dedicating your time and utilizing your skills is a creative way to contribute to the greater good. Additionally, with Code For Change you aren’t left wondering what your contribution has been used for. Once you submit your project you can be assured that your time has created a tangible impact. Join Code For Change today to join a group of dedicated, like-minded individuals, and start making a difference now.   </p>
      </div>
    <% else %>
      <div>
        <p>How can we help your organization?</p>
        <p>Code For Change provides socially conscious organizations around the world with high quality, extremely affordable, digital products. We are committed to providing organizations with innovative, practical and sustainable digital solutions. Our developers are highly qualified and have all either obtained a Computer Science degree from a top university, completed a top-ranked coding bootcamp or work as a developer in an established company. Code For Change is dedicated to providing a top-tier solution to your organizations unique digital needs. </p>
      </div>
    <% end %>
  </div>

  <!-- RIGHT SIDE -->
  <div class="form-container">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <% if params[:coder] == 'true' %>
        <h2 class="h2-signup">Sign up as a coder</h2>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :name %>
          <%= f.input :photo, as: :file %>
          <%= f.input :bio, placeholder:"Tell us about yourself..." %>
          <%= f.input :location %>
          <%= f.input :linkedin_url %>
          <%= f.input :coder, as: :hidden, input_html: {value: true} %>
        </div>

        <div class= "form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-flat" %>
        </div>
      <% else %>

        <h2 class="h2-signup">Sign up as a Charity</h2>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :coder, as: :hidden, input_html: {value: false} %>
        </div>

        <div class= "form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-flat" %>
          <%= link_to 'Back to Listings',new_project_path%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
