<div class="body-dashboard">
	<div class="your-project">
		<img class="img-dashboard" src="https://www.adomonline.com/wp-content/uploads/2019/06/istock-839295596.jpg" alt="charity picture">
		<div>
			<h4>You are working on</h4>
			<h3><%= @project.name %></h3>
		</div>
	</div>
	<div class="container dashboard-page">
		<div class="tables">
			<div class="sm-table docs">
				<h3>DOCUMENTS</h3>
				<% if @project.file.attached? %>
					<p><%= link_to "Project brief download: ", rails_blob_path(@project.file, disposition: 'attachment') %> <i class="fas fa-file-download icon-dashboard"></i></p>
				<% end %>
				<div class="vl"></div>
				<p>charity information download <i class="fas fa-file-download icon-dashboard"></i></p>
				<div class="vl"></div>
				<p>Github repository <i class="fab fa-github icon-dashboard"></i></p>
			</div>

			<% unless @boards.nil? %>
				<div class="sm-table trello-updates">
					<h3>TRELLO UPDATES</h3>
					<div class="lists">
						<% @boards.each do |list| %>
						<div class="list">
							<h5><%= list["name"] %></h5><span class="card-count"><%= list["cards"].length %></span>
							<% list["cards"].each do |entry|  %>
								<p><%= entry["name"] %></p>
							<% end %>
						</div>
							<% end %>
					</div>
				</div>
			<% end %>


			<div class="sm-table collabs">
				<h3>COLLABORATORS</h3>
				<div class="collabs-all">
						<%@collaborators.each do |collaborator| %>
							<div class="collab-profile">
								<i class="fas fa-user-circle icon-profile-pic"></i>
								<h5><%= collaborator.name %></h5>
								<a href="www.slack.com"> @slack </a>
								<a href="www.linkedIn.com"> @linkedIn </a>
							</div>
						<% end %>
					</div>
			</div>
		</div>
	</div>
</div>
