<div class="home-page">
  <div class="landing-page" style="background-image: url('<%= image_path "surf.jpg" %>')">
    <div class="hero-text-box">
        <h1 class="title-landing">Harness your skills <br> while making a difference.</h1>
          <a class="btn-landing" href="/projects">Search for Projects</a>
    </div>
  </div>
  <section class="section-features">
      <div class="row">
          <h2> CONNECTING CHARITIES &ndash; WITH DEVELOPERS </h2>
          <p class="long-copy">Hello, we’re Code for Change, a platform where charities can advertise their projects and developers can gain valuable experience whilst making a change. We know charities don't always have the resources to build awesome websites and applications to support their cause. That's where we come in. Sign up, Harness your skills, and Code for Change!</p>
      </div>
      <div class="row m-40">
          <div class="col span-1-of-4 box">
              <i name="infinite" class="fas fa-coins icon-big"></i>
              <h3>Completely voluntary</h3>
              <p>Our developers operate free of charge, their reward is gaining more experience while also helping worthy causes. You are under no obligation to put up any cash upon completion of your submitted project.
                  You have the flexibility to choose how your application is developed, if that's your style.
              </p>
          </div>

          <div class="col span-1-of-4 box">
              <i name="alarm" class="fas fa-clock icon-big"></i>
              <h3>Quick</h3>
              <p>You're one step closer your new and super awesome application designed and built just the way you want it and in the best time possible. We work with the best upcoming developers all around the world to ensure that you're 100% happy with your final product.
              </p>
          </div>

          <div class="col span-1-of-4 box">
              <i name="quality" class="fas fa-clipboard-check icon-big"></i>
              <h3>100% quality</h3>
              <p>All our products are designed, built and developed with your guidance along the way. Know that we're available to support and guide you along the way!
              </p>
          </div>

          <div class="col span-1-of-4 box">
              <i name="cart" class="fas fa-rocket icon-big"></i>
              <h3>Build anything</h3>
              <p>We don't limit your creativity, which means you can build whatever you need for your cause. Our developers can guide you along the way. It's up to you!
              </p>
          </div>
      </div>
  </section>
  <section class="section-showcase">
      <ul class="landing-showcase clearfix">
          <li>
              <figure class="showcase-photo">
                <%= image_tag '1.jpg', alt: "Image not available" %>
              </figure>
          </li>
          <li>
              <figure class="showcase-photo">
                <%= image_tag '2.jpg', alt: "Image not available" %>
              </figure>
          </li>
          <li>
              <figure class="showcase-photo">
                <%= image_tag '3.jpg', alt: "Image not available" %>
              </figure>
          </li>
          <li>
              <figure class="showcase-photo">
                <%= image_tag '4.jpg', alt: "Image not available" %>
              </figure>
          </li>
      </ul>

      <ul class="landing-showcase clearfix">
          <li>
              <figure class="showcase-photo">
                <%= image_tag '5.jpg', alt: "Image not available" %>
              </figure>
          </li>
          <li>
              <figure class="showcase-photo">
                <%= image_tag '6.jpg', alt: "Image not available" %>
              </figure>
          </li>
          <li>
              <figure class="showcase-photo">
                <%= image_tag '7.jpg', alt: "Image not available" %>
              </figure>
          </li>
          <li>
              <figure class="showcase-photo">
                <%= image_tag '8.jpg', alt: "Image not available" %>
              </figure>
          </li>
      </ul>
  </section>

  <section class="section-testimonials">
    <div class="row">
      <h2>See what our users think of us</h2>
    </div>
    <div class="row">
      <div class="col span-1-of-3">
          <blockquote> Code for Change is just awesome! I had finished Le Wagon and found it very difficult to find work without any real projects on my portfolio. At Code for Change I can work with professionals and add the projects to my portfolio. I have improved my skills, and made a change!
              <cite><img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">(Alberto Duncan)</cite>
          </blockquote>
      </div>

      <div class="col span-1-of-3">
          <blockquote>Quick, easy and free! Starting my charity proved to be very difficult due to lack of funds. I am so grateful for the service recieved through Code for Change. The developers were exceptional and believed in my cause. The Code for Change community supported me throughout!
              <cite><img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?cs=srgb&dl=women-s-white-and-black-button-up-collared-shirt-774909.jpg&fm=jpg" alt="">(Joana Silva)</cite>
          </blockquote>
      </div>

      <div class="col span-1-of-3">
          <blockquote>I was looking for a quick and easy project to do with my time off work. I ended up
              using Code for Change. I was committed to helping the charity build and able to support and guide them through their journey. Truly the best website ever. Keep up the great work!
              <cite><img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">(Milton Chapman)</cite>
          </blockquote>
      </div>
    </div>
  </section>
</div>
