<div class="d-flex align-items-end" style="margin: 50px">
  <div class = "user-info">
    <div>
      <div class= "user-name">
      <%= current_user.name %>
      </div>
      <br>
      <div class = "user-bio">
       <%= current_user.bio %>
      </div>
      <br>
      <div class ="linkedin-url">
       <p><%= link_to "LinkedIn", current_user.linkedin_url, target: '_blank' %></p>
       </div>
       <br>
       <div class="user-location">
       <%= current_user.location %>
      </div>
    </div>
    <%= cl_image_tag @user.photo.key, class: 'user-photo' %>
  </div>
  <%= link_to "Search for a Project", projects_path, class: "btn btn-flat charity-show-button" %>
</div>

<h2 class="h2-projects"> My projects </h2>

<div class ="your-projects">
<table class="table">
  <thead>
    <tr>
      <th scope="col">PROJECT</th>
      <th scope="col">CHARITY</th>
      <th scope="col">LOCATION</th>
      <th scope="col">STATUS</th>
      <th scope="col">DEADLINE</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.bookings.each do |booking| %>
        <tr>
          <td><%= link_to booking.project.name, booking_path(booking) %></td>
          <td><%= booking.project.charity.name %></td>
          <td><%= booking.project.location %></td>
          <td><%= booking.status %></td>
          <td><%= booking.project.deadline %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
