<div class="banner-index" >
  <div class="banner-container">
    <h1 class="index-header" style="font-family: 'Oswald', sans-serif;">PROJECTS</h1>
    <div class="container-form">
      <%= form_tag projects_path, class: "search-form", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a project"
        %>
        <button type="submit" class="btn">
          <i class="fa fa-search grow"></i>
        </button>
      <% end %>
      </div>
  </div>
</div>
<div class="container search">
  <div class="container-index">
    <div class="cards">
      <% @projects.each do |project| %>
        <div class="card-product">
          <div class="overlay-fade">
            <% if project.photo.attached? %>
              <%= cl_image_tag project.photo.key, class: 'first-charity-photo' %>
                <div class="index-text" style="">
                  <%#= link_to 'Learn More', project_path(project) %>
                 </div>
            <% end %>
          </div>
          <div style="display: flex; flex-direction: column; height: 100%; width: 100%;">
            <div class="card-product-infos project-card">
              <div class="title-heart">

                <h2><%= project.charity.name %></h2>
                <% if current_user&.charity.nil? %>
                  <% if project.likes.where(user_id: current_user&.id).length == 1 %>
                    <%= link_to like_path(project.likes.where(user_id: current_user&.id)[0]), method: :delete, class: "save-heart-index" do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to  project_likes_path(project), method: :post, class: "save-heart-index", remote: true do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <p>Category: <%=project.category %></p>
              <p>Location: <%= project.location %></p>
              <p>Project description: <%= project.project_description.truncate(120) %> </p>
            </div>
            <%= link_to "Learn More", project_path(project), class: "btn btn-flat-index" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="index-back">
    <%= link_to "Back to Home", root_path, class: "btn btn-flat" %>
  </div>
</div>
<script>
  document.addEventListener('turbolinks:load', () => {
    if (localStorage['scroll']) {
      window.scroll({ top: localStorage['scroll'] });
    }
    window.addEventListener('scroll', () => {
      localStorage['scroll'] = window.scrollY;
    });
  })
</script>
