

<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="banner-container">
    <h1>Projects</h1>
    <br>
    <div class="container-form">
      <%= form_tag projects_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a project"
        %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container search">


<!-- <div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('Front-End')"> Cars</button>
  <button class="btn" onclick="filterSelection('Back-End')"> Animals</button>
  <button class="btn" onclick="filterSelection('Full-Stack')"> Fruits</button>
</div> -->

<!-- <input type="checkbox" class="tablefilter" name="class1" id="class1" checked />
<label for="class1">Filter 1</label>
<input type="checkbox" class="tablefilter" name="class2" id="class2" checked />
<label for="class2">Filter 2</label>
<input type="checkbox" class="tablefilter" name="class3" id="class3" checked />
<label for="class3">Filter 3</label> -->

  <div class="container">
    <ul class="list-group">
      <% @projects.each do |project| %>
        <li class="list-group-item">
          <%#= link_to project_path(project), class: 'card-link' do %>
            <div class="card-product" >
              <img <%= cl_image_tag project.photo.key %>
              <div class="card-product-infos">
                <h2><%= project.name %></h2>
                <p>Category: <%=project.category %></p>
                <p>Location: <%= project.location %></p>
                <p>Project description: <%= project.project_description %> </p>
              </div>
              <%= link_to "Apply", project_path(project), class: "btn btn-flat" %>
            </div>
          <%# end %>
        </li>
      <% end %>
  </div>
  <%= link_to "Back to Home", root_path, class: "btn btn-flat" %>
</div>

