
<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
  <h1 class="project"><b>REGISTER A PROJECT NOW</b></h1>
</div>

<div class="container">
  <h4 class="instruction">Please fill out the fields below: </h4>
  <div class="project-form">
     <%= simple_form_for [@charity, @project] do |f| %>
       <%= f.input :name, label: 'Enter your organizations name' %>
       <%= f.input :category, :collection => %w[Front-end Back-end Full-stack], label: 'Enter the type of project you want completed' %>
       <%= f.input :deadline, as: :date, label: 'Submit the date you would like your project to be completed' %>
       <%= f.input :charity_description, as: :text, label: 'Give a short description of your charity'%>
       <%= f.input :project_description, as: :text, label: 'Give a short description of your project and the functions and/or design features you want included'%>
       <%= f.input :website, label: 'Enter the link to your organizations website (if applicable)' %>
       <%= f.input :location, label: 'Enter your organizations address' %>
       <%= f.input :photo, as: :file, label: 'Attatch your detailed project brief' %>
       <%= f.input :file, as: :file, label: 'Attatch your a photo for your charity'%>
       <%= f.button :submit, :input_html =>{:class => "create"} %>
       <%= link_to 'Create a project', new_project_path%>
     <% end %>
  </div>
</div>
