<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @project.photo.key %>);">
   <%= link_to projects_path do %>
      <i class="fas fa-arrow-left back-arrow"></i>
    <% end %>
  <h1 class="charity-name"><%=@project.charity.name%></h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="card text-center show-card">
        <div class="card-header tab-header d-flex align-items-center justify-content-start">
          <span class="tab active show-tab" role="tab" aria-controls="project-description" aria-selected="true">Project Information</span>
          <span class="tab show-tab" role="tab" aria-controls="charity-description" aria-selected="false">Charity Information</span>
        </div>
         <div class="card-body">
          <div class="tab-content mt-3">
            <div class="tab-pane active" id="project-description" role="tabpanel">
              <p class="card-text"><%= @project.project_description %></p>
              <div class="project-card-overview">
                <p class="card-inform">Deadline:  <%= @project.deadline %></i></p>
                <p class="card-inform">Project Type: <%= @project.category %></i></p>
                <% if current_user.charity.nil? %>
                  <%= link_to project_bookings_path(@project, page: 'show'), method: :post do %>
                    <button type="button" class="btn-request" >I'm In!</button>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tab-pane d-none" id="charity-desc" role="tabpanel" aria-labelledby="chrarity-description-tab">
            <p class="card-text"><%= @project.charity_description %></p>
            <p class="charity-link">For more information, please visit: <%= @project.website %></p>
          </div>
        </div>
        <% if current_user.charity.nil? %>
          <% if @project.likes.where(user_id: current_user.id).length == 1 %>
            <%= link_to like_path(@project.likes.where(user_id: current_user.id)[0], project_id: @project.id), method: :delete, class: 'save-heart' do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to project_likes_path(@project, page: 'show'), method: :post, class: 'save-heart' do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


  <h1 class="important-info">Further Information</h1>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="col-md-7">
      <div class= "card card-important-info">
          <h2 class="important-title">Please note:</h2>
          <ul class="important-body">
            <li>You are only permitted to work on one project at a time </li>
            <li>More information will be given once you have been accepted to the project.</li>
            <li>The time it will take to complete each project will depend on the project complexity, please be mindful and realistic about the requirements. </li>
            <li>In most cases, you will be collaborating on this project with other individuals using the platform.</li>
            <li>Code For Change does not take gender or age into account. This will provide you with valuable experience in working within diverse teams, which is a reality of the contemporary workplace.</li>
            <li>Each charity has a representative that will act as your point of contact throughout the project. This will be the person who you are able to reach out to for questions specific to the needs of the project.</li>
            <li>Once you complete your project, you can add the product to your portfolio. Your goal is to leave behind a well documented solution that can be easily maintained by the organization.</li>
            <li>Both the charity, your collaborators and the Code For Change team is counting on you to complete the project. Should you leave the project before completion you will be banned from joining any future projects.</li>
          </ul>
      </div>
    </div>
  </div>
</div>
