<h2 class="h2-signup">Register Your Charity</h2>
  <div class ="session-grid3">
    <div class="session-grid-form">
      <div class="form-inputs">
        <%= simple_form_for @charity do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>

          <%= f.input :photo, as: :file, label: 'Logo' %>

          <%= f.input :location, input_html: {class:"location_input"} %>
          <%= f.input :address %>

          <%= f.input :email %>
          <%= f.input :website %>
          <%= f.input :charity_registration_number %>
          <%= f.button :submit, "Register Your Charity With Us", class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


