<h2 class="h2-profile"></h2>
  <h6><%= @charity.name %></h6>
  <%= @charity.address %>
  <%= @charity.location %>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Category</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody>
    <% @charity.projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.category %></td>
        <td><%= project.deadline %></td>
      </tr>
      <% project.bookings.where(status: 'pending').each do |booking| %>
         <h5><%= booking.user.name %></h5> -->
         <h5><%= booking.user.linkedin_url %></h5> -->
         <h5><%= booking.user.bio %></h5> -->
        <%= link_to 'Accept', accept_booking_path(booking), method: :patch %>
        <%= link_to 'Reject', reject_booking_path(booking), method: :patch %>
      <%end %>
    <% end %>
  </tbody>
</table>


<div class =“cards”>
    <div class=“card-category”>
       <%= link_to "Register a New Project", new_project_path %>
      </div>
    </div>
 <!-- Logic to render booking requests  -->
