<h2 class="h2-profile"></h2>
  <div class="your-charity-details">
    <h1><%= @charity.name %></h1>
    <p>Location <%= @charity.location %></p>
  </div>

<div class="your-charity-applications design-table">
  <h3>Applications</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">PROJECT</th>
        <th scope="col">APPLICANT</th>
        <th scope="col">LINKEDIN PROFILE</th>
        <th scope="col">BIO</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @charity.projects.each do |project| %>
        <% project.bookings.where(status: 'pending').each do |booking| %>
        <tr class="test-d">
          <td><%= project.name %></td>
          <td><%= booking.user.name %></td>
          <td><%= booking.user.linkedin_url %></td>
          <td><%= booking.user.bio %></td>
          <td><%= link_to 'Accept', accept_booking_path(booking), method: :patch %></td>
          <td><%= link_to 'Reject', reject_booking_path(booking), method: :patch %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="your-charity-projects">
  <h3>Running projects</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Category</th>
          <th scope="col">Due Date</th>
        </tr>
      </thead>
      <tbody>
        <% @charity.projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.category %></td>
            <td><%= project.deadline %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>



<h3 class = "h3-profile">Add a project</h3>
<%= link_to "Register a New Project", new_project_path %>

