
<div class="banner-charity" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1462143338528-eca9936a4d09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
<div class="charity-header">
  <div class="your-charity-details">
    <h1 class ="welcome" style="font-family: 'Oswald', sans-serif;">Welcome.. <%= @charity.name %></h1>
    <br>
    <h4 class ="how" style="font-family: 'Oswald', sans-serif;">How is <%= @charity.location %> today?</h4>
    <% if @charity.photo.attached? %>
      <%= cl_image_tag @charity.photo.key, class: 'charity-photo' %>
    <% end %>
  </div>
  <%= link_to "Register a Project", new_project_path, class: "btn btn-flat charity-show-button" %>
</div>
</div>




<div class="your-charity-applications design-table">
  <h2>Applications</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">PROJECT</th>
        <th scope="col">APPLICANT</th>
        <th scope="col">LINKEDIN PROFILE</th>
        <th scope="col">GITHUB PROFILE</th>
        <th scope="col">BIO</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @charity.projects.each do |project| %>
        <% project.bookings.where(status: 'Pending').each do |booking| %>
        <tr class="test-d">
          <td><%= project.name %></td>
          <td><%= booking.user.name %></td>
          <td><%= link_to "LinkedIn", current_user.linkedin_url, target: '_blank',class: "btn btn-light"  %></td>
          <td><%= link_to "Github", current_user.github_url, target: '_blank',class: "btn btn-light"  %></td>
          <td><%= booking.user.bio %></td>
          <td><%= link_to 'Accept', accept_booking_path(booking), method: :patch, class: "btn btn-outline-success" %></td>
          <td><%= link_to 'Reject', reject_booking_path(booking), method: :patch, class: "btn btn-outline-danger" %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>




<div class="your-charity-projects">
  <h2>Running Projects</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Category</th>
          <th scope="col">Due Date</th>
           <th scope="col">FINISHED?</th>
        </tr>
      </thead>
      <tbody>
        <% @charity.projects.each do |project| %>
          <tr>
            <td><%= link_to project.name || @charity.name, project_path(project),class: "btn btn-dark"  %></td>
            <td><%= project.category %></td>
            <td><%= project.deadline %></td>
            <td><%= link_to 'Archive Project', project_path(project), method: :delete, class: "btn btn-light " %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>





