<h2 class="h2-profile"></h2>
  <h6><%= @charity.name %></h6>
  <%= @charity.address %>
  <%= @charity.location %>

<h2> Accept/Reject projects</h2>
<% @charity.projects.each do |project| %>
  <div>
    <%= project.name %>
  </div>
  <% project.bookings.where(status: 'pending').each do |booking| %>
    <h5><%= booking.user.name %></h5>
    <h5><%= booking.user.linkedin_url %></h5>
    <h5><%= booking.user.bio %></h5>
    <%= link_to 'Accept', accept_booking_path(booking), method: :patch %>
    <%= link_to 'Reject', reject_booking_path(booking), method: :patch %>
  <% end %>
<% end %>


<h2> Running projects</h2>
<% @charity.projects.each do |project| %>
  <div>
    <%= project.name %>
  </div>
  <% project.bookings.where(status: 'accepted').each do |booking| %>
    <%= link_to booking_path(booking) do %>
      <h5><%= booking.user.name %></h5>
      <h5><%= booking.user.linkedin_url %></h5>
      <h5><%= booking.user.bio %></h5>
      <% end %>
  <% end %>
<% end %>



<h3 class = "h3-profile">Add a project</h3>
<div class ="cards">
    <div class="card-category"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1577366325138-648f707a75e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
       <%= link_to 'Register a New Project',new_project_path%>
      </div>
    </div>


<h3 class ="h3-profile">Past Projects</h3>
    <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1577366325138-648f707a75e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
     Change the navbar
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1416138645715-930585fe4ce2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
     Add more pictures
    </div>
 </div>
</div>
